<mat-toolbar color="primary">
    <span *ngIf="!userIsAuthenticated || !userIsAuthorized"><a routerLink="/">Tangamandapp.io</a></span>
    <span *ngIf="userIsAuthenticated && userIsAuthorized"><a routerLink="/tasks">Tangamandapp.io</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated && userIsAdmin">
            <a mat-button routerLink="/tasks/create" routerLinkActive="mat-accent">Criar Tarefa</a>
        </li>
        <li *ngIf="userIsAdmin">
            <a mat-button routerLink="/auth/users" routerLinkActive="mat-accent">Usuários</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Entrar</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Registrar</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Sair</button>
        </li>
    </ul>
</mat-toolbar>