<mat-spinner *ngIf="isLoading"></mat-spinner>
<table *ngIf ="!isLoading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="authorized">
        <th mat-header-cell *matHeaderCellDef> Autorizado </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.authorized"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="admin">
        <th mat-header-cell *matHeaderCellDef> Administrador </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.admin"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-raised-button (click)="onSaveUsers()">Salvar</button>