<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        required
        email
        placeholder="E-Mail"
        ngModel
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.invalid">Insira um endereço de E-mail válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        required
        ngModel
        placeholder="Senha"
        #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Insira uma senha válida</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="firstName"
        required
        ngModel
        text
        placeholder="Nome"
        #firstName="ngModel">
      <mat-error *ngIf="firstName.invalid">Insira o seu nome</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="lastName"
        required
        ngModel
        text
        placeholder="Sobrenome"
        #lastName="ngModel">
      <mat-error *ngIf="lastName.invalid">Insira o seu sobrenome</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
          matInput
          type="text"
          name="nickname"
          required
          ngModel
          text
          placeholder="Apelido"
          #nickname="ngModel">
        <mat-error *ngIf="nickname.invalid">Insira o seu apelido</mat-error>
      </mat-form-field>
    <button
      mat-raised-button
      *ngIf="!isLoading"
      color = "primary"
      type="submit">Registrar</button>
  </form>
</mat-card>
