<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="changePass(passForm)" [formGroup]=passForm *ngIf="!isLoading" >    
        <mat-form-field>
        <input
            matInput
            type="password"
            formControlName="oldPassword"
            required
            placeholder="Senha atual"
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="passForm.hasError('required', 'password', 'isOne')">Insira uma senha válida</mat-error>
        <mat-error *ngIf="passForm.hasError('isOne')">é um porra</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="password"
                formControlName="password"
                required
                placeholder="Nova senha"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="passForm.hasError('required', 'password')">Insira uma senha válida</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="password"
                formControlName="confirmPassword"
                required
                placeholder="Confirme a nova senha"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="passForm.hasError('notSame')">Repite a nova senha corretamente </mat-error>
        </mat-form-field>
        <ul>
            <li>
                <button
                    mat-raised-button
                    color = "primary"
                    type="submit"
                    [disabled]="passForm.value.oldPassword === '' || passForm.status === 'INVALID'">Confirmar
                </button>
            </li>
            <span class="spacer"></span>
            <li>
                <button 
                    type=button 
                    mat-raised-button 
                    color="accent" 
                    [routerLink]="['/user/edit', userId]">Cancelar
                </button>
            </li>
        </ul>        
    </form>
</mat-card>