@import '~@angular/material/theming';

@include mat-core();

$tanga-theme-primary: mat-palette($mat-green);
$tanga-theme-accent: mat-palette($mat-red,400,200,500);

$tanga-theme: mat-light-theme($tanga-theme-primary, $tanga-theme-accent);

@include angular-material-theme($tanga-theme);